#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Game {
  display: block;
  justify-content: center;
  align-items: center;
}

.tiles {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tiles:nth-child(2n) {
  border-left: 1px white solid;
  border-right: 1px white solid;
}
.tileRow:nth-child(2n) {
  border-bottom: 1px white solid;
  border-top: 1px white solid;
}
.tileRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
